.hidden {
        display: none;

}

*,
*::before,
*::after {
        box-sizing: border-box;
}

body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

a {
        text-decoration: none;

}

ul,
ol {
        list-style: none;
        margin: 0;
        padding-left: 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;

}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

/* Загальні стилі */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        color: #333;
        margin: 0;
        padding: 0;
}

.container {
        flex-wrap: wrap;
        /* max-width: 1440px; */
        max-width: 1158px;
        /* max-width: 320px; */
        margin: 0 auto;
        padding: 0 15px;
}

@media screen and (max-width: 320px) {
        .container {
                max-width: 320px;
                margin: 0;
                padding-left: 16px;
                padding-right: 16px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .container {
                max-width: 768px;
                margin: 0;
                padding: 0;
        }
}

img {
        display: block;
        max-width: 100%;
}

/* Хедер */

.page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
        padding: 0 15px;
        justify-content: space-between;
        display: flex;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .header-container {
                align-items: center;
        }
}

.main-logo {
        padding-top: 24px;
        padding-bottom: 24px;
        justify-content: flex-start;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
}

.main-logo span {
        color: #2e2f42;
}

.menu {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
        align-items: center;
        display: flex;
}

/* @media screen and (max-width: 320px) {
        .menu {
                padding-right: 16px;
                padding-left: 16px;
        }
} */

@media screen and (min-width: 321px) and (max-width: 768px) {
        .menu {
                justify-content: center;
        }
}

/* @media screen and (min-width: 321px) and (max-width: 768px) {
        .menu {
                width: 100%;
        }
} */

.menu-list {
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        transition-property: color;
}

@media screen and (min-width: 321px) {

        .mobile-menu,
        .burger-menu {
                display: none;
        }
}

/* @media screen and (min-width: 321px) and (max-width: 768px) {
        .menu-list {

        }
} */


@media screen and (max-width: 320px) {

        .menu-list,
        .contacts {
                display: none;
        }

        .burger-menu {
                margin-left: auto;
        }

        .main-logo {
                margin-right: 149px;
                padding: 16px 0 16px 0;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .main-logo {
                margin-right: 120px;
                padding: 24px 0 24px 0;
        }
}




.menu-link-after::after {
        content: '';
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background: #404bbf;
        bottom: 0px;
        bottom: -1px;
        position: absolute;
        align-items: center;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        text-decoration: none;
        font-size: 16px;
        color: #333;
        transition: color 0.3s ease;
}

.menu-list li:first-child .menu-link {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover {
        color: #404bbf;
}

.menu-link:focus {
        color: #404bbf;
}

.contacts {
        font-style: normal;
        gap: 40px;
}

.contacts-list {
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .contacts-list {
                flex-direction: column;
                gap: 12px;
                padding: 0;
                /* padding-top: 24px;
                padding-bottom: 24px; */
        }
}

.contacts-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        text-decoration: none;
        font-size: 14px;
        color: #333;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .contacts-link {
                padding: 0;
        }
}

.contacts-link:hover {
        color: #404bbf;
}

.contacts-link:focus {
        color: #404bbf;
}








/* Бургер-меню (приховане на великих екранах) */
.burger-menu {
        position: absolute;
        display: none;
        /* Ховаємо бургер-меню на великих екранах */
        cursor: pointer;
        z-index: 1001;
        top: 10px;
        right: 10px;

}

.burger-menu-icon {
        width: 30px;
        height: 30px;
}

/* 📱 Медіа-запит для мобільних екранів (320px і менше) */
@media (max-width: 320px) {

        /* Приховуємо основне меню */
        .menu-list {
                display: none;
        }

        /* Відображаємо бургер-меню */
        .burger-menu {
                display: block;
        }
}

@media screen and (min-width: 321px) {
        .burger-menu {
                display: none;
        }
}

/* 📱 Мобільне меню (приховане за замовчуванням) */

nav#mobileMenu {
        padding: 0;
        margin: 0;
}

.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        z-index: 1000;
        overflow: hidden;
}

/* Відображення мобільного меню */
.mobile-menu.active {
        display: flex;
}

/* Закриття мобільного меню */
.close-menu {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: none;
        border: none;
        stroke: #2e2f42;
}

.close-menu-icon {
        stroke-width: 1px;
        stroke: #2e2f42;
        width: 8px;
        height: 8px;
        align-items: center;
        justify-content: center;
}

/* Список у мобільному меню */
.mobile-menu .menu-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 72px;
        padding-left: 16px;
        padding-bottom: 168px;
                /* max-width: 151px;
                        max-height: 200px; */
}

.mobile-menu .menu-link {
        padding: 0;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

/* Контакти у мобільному меню */
.mobile-menu .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 16px;
        margin-bottom: 48px;
}

.mobile-menu .contacts-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 0;
}

.mobile-menu .contacts-link:focus {
        color: #4d5ae5;
}

.mobile-menu .contacts-link:hover {
        color: #4d5ae5;
}

/* Соцмережі у мобільному меню */
.mobile-contacts .mobile-menu-ul-icon {
        display: flex;
        gap: 15px;
        padding-left: 16px;
        padding-bottom: 40px;
}

.ahref-two-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
}

.social-icons svg {
        width: 24px;
        height: 24px;
        fill: white;
}

/* Ховаємо бургер-меню, коли мобільне меню відкрито */
.mobile-menu.active+.burger-menu {
        display: none;
}

@media (max-width: 320px) {
        .burger-menu {
                display: block;
                /* Відображаємо бургер на мобільних */
        }

        .menu-list {
                display: none;
                /* Ховаємо основне меню */
        }
}








/* ______________________ГОЛОВНИЙ БАННЕР____________________________ */


.one-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        /* градієнт має мінімум двазначення, градієнт щоб затемнити фон накладається зверху,завжди перед картинкою бо те що перше записується то є зверху*/
                        rgba(46, 47, 66, 0.7)),
                url('../images/people-office.jpg');
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(46, 47, 66, 0.7);
        color: white;
        text-align: center;
        padding-top: 188px;
        padding-bottom: 188px;
}

@media screen and (max-width: 320px) {
        .one-section {
                padding-top: 72px;
                padding-bottom: 72px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .one-section {
                padding-top: 112px;
                padding-bottom: 112px;
        }
}

.one-h {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
        margin-bottom: 0px;
        max-width: 496px;
        margin: 0 auto;
}

@media screen and (max-width: 320px) {
        .one-h {
                font-size: 36px;
                line-height: 1.11111;
                max-width: 160px;
        }
}

.open-modal-btn {
        background-color: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 320px) {
        .open-modal-btn {
                margin-top: 72px;
                padding: 16px 32px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .open-modal-btn {
                margin-top: 36px;
                padding: 16px 32px;
        }
}

.one-button:hover {
        background-color: #404BBF;
}

.one-button:focus {
        background-color: #404BBF;
}

/* Розділ "Advantages" */
.two-section {
        /* padding: 120px 0; */
        padding: 0;

}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .two-section {
                padding: 96px 0;
        }
}

.main-logo {
        display: inline-block;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.two-section-ul {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        gap: 24px;
        list-style: none;
        align-items: stretch;
        padding-top: 120px;
}

@media screen and (max-width: 320px) {
        .two-section-ul {
                flex-direction: column;
                max-width: 288px;
                gap: 72px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .two-section-ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 0;
        }
}

.two-section-li {
        width: calc((100% - 72px) / 4);
}

@media screen and (max-width: 320px) {
        .two-section-li {
                width: 100%;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .two-section-li {
                width: 100%;
        }
}

.icon-two-section {
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        align-items: center;
        background-color: #f4f4fd;
        margin-bottom: 8px;
}

@media screen and (max-width: 320px) {
        .icon-two-section {
                display: none;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .icon-two-section {
                display: none;
        }
}

/* .two-section-list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style: none;
} */

.three-strategy-h {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
        margin-bottom: 8px;
}

@media screen and (max-width: 320px) {
        .three-strategy-h {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11111;
                text-align: center;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .three-strategy-h {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11111;
        }
}

.three-strategy-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media screen and (max-width: 320px) {
        .three-strategy-p {
                font-weight: 500;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .three-strategy-p {
                font-weight: 500;
                margin-bottom: 72px;
        }
}


/* Розділ "Our Team" */

.three-section {
        background-color: #F4F4FD;
        padding: 120px 0;
}

@media screen and (max-width: 320px) {
        .three-section {
                padding: 0;

        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .three-section {
                padding: 96px 108px;
        }
}

.three-section-h {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

@media screen and (max-width: 320px) {
        .three-section-h {
                padding-top: 96px;
        }
}

.three-section-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .three-section-list {
                gap: 64px 24px;
        }
}

@media screen and (max-width: 320px) {
        .three-section-list {
                max-width: 320px;
                gap: 72px;
                padding-bottom: 96px;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
        }
}

.three-section-item {
        background-color: #fff;
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 3 * 24px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 320px) {
        .three-section-item {
                width: 100%;
                max-width: 264px;
                margin: 0 auto;
        }
}


@media screen and (max-width: 320px) {
        .team-photo {
                width: 100%;
        }
}



.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        font-family: "Roboto", sans-serif;
        margin-bottom: 8px;
}



.team-role {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        font-family: "Roboto", sans-serif;
        margin-bottom: 8px;
}

.div-name-role {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 32px 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .div-name-role {
                margin-bottom: 0;
                /* gap: 64px; */
        }
}

.social {
        display: flex;
        justify-content: center;
        gap: 24px;
        list-style: none;
        padding: 0;
}

.punkt-spisok {
        width: 40px;
        height: 40px;
}

.ahref {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color, #4d5ae5);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover,
.social a:focus {
        background-color: #404bbf;
}

.social-icon {
        fill: #f4f4fd;
}

/* Розділ "Our Portfolio" */
.four_section {
        padding: 120px 0;
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .four_section {
                max-width: 768px;
                margin: 0;
                padding: 0 16px;
        }
}

@media screen and (max-width: 320px) {
        .four_section {
                max-width: 320px;
                padding: 0;
                margin: 0;
        }
}

/* .ourportfolio {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
} */

.four-section-h {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.four_section_list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        list-style-type: none;
        padding: 0;
        margin: 0;
}

@media screen and (max-width: 320px) {
        .four_section_list {
                flex-direction: column;
                align-items: center;
                max-width: 288px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .four_section_list {
                justify-content: space-between;
                gap: 72px 24px;
                margin-bottom: 96px;
        }
}


.four_section_li {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 320px) {
        .four_section_li {
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 288px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .four_section_li {
                width: calc((100% - 24px) / 2);
        }
}

.four_section_li:hover .four_section_licover {

        opacity: 1;
        transform: translateY(0%);
}

.four_section_li:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-up {
        position: relative;
        overflow: hidden;
}

.four_section_foto {
        max-width: 100%;
}

.four_section_licover {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-family: "Roboto", sans-serif;
        background: #4d5ae5;
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: auto;
}

.spusok {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.four_section_h_one {
        margin-bottom: 8px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.four_section_p_one {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* Загальні стилі для футера */
.footer_test {
        background: #2e2f42;
        padding: 100px 0;
        color: #f4f4fd;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .footer_test {
                padding: 96px 0;
                /* margin: 0 auto; */
        }
}

@media screen and (max-width: 320px) {
        .footer_test {
                max-width: 320px;
        }
}

.container_footer {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
        .container_footer {
                flex-direction: column;
                align-items: center;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .container_footer {
                margin: 0 auto;
                align-items: center;
                padding-left: 108px;
                align-items: flex-start;
        }
}

.footer-left {
        margin-right: 120px;
}

@media screen and (max-width: 320px) {
        .footer-left {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .footer-left {
                margin: 0;
                padding-right: 24px;
                padding-bottom: 72px;
        }
}

.main-logo-footer {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: #4d5ae5;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        line-height: 1.16667;
}

@media screen and (max-width: 320px) {
        .main-logo-footer {
                text-align: center;
                width: 100%;
                margin-bottom: 16px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .main-logo-footer {
                display: block;
                margin-bottom: 16px;
        }
}

.span-studio {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .span-studio {
                margin-bottom: 16px;
        }
}

.text_p_footer {
        font-size: 16px;
        line-height: 1.5;
        max-width: 264px;


}

@media screen and (max-width: 320px) {
        .text_p_footer {
                text-align: left;
                margin-bottom: 72px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .text_p_footer {
                font-weight: 400;
                letter-spacing: 0.02em;
                color: #f4f4fd;
                text-align: left;
        }
}

/* Контейнер для соцмереж */
.social-media {
        text-align: left;
        display: flex;
        flex-direction: column;
}

@media screen and (max-width: 320px) {
        .social-media {
                align-items: center;
        }
}

.social-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-color, #ffffff);
        margin-bottom: 16px;
}

.social-icons-two {
        display: flex;
        gap: 16px;
        list-style: none;
        padding: 0;
}

@media screen and (max-width: 320px) {
        .social-icons-two {
                margin-bottom: 72px;
        }
}

.foter-spisok {
        width: 100%;
        height: 100%;
}

.ahref-two {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: var(--primary-color, #4d5ae5);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-two a:hover,
.social-icons-two a:focus {
        background-color: #31d0aa;
        ;
}

.social-icons-two svg {
        fill: var(--icon-color, #f4f4fd);
}

/* Права частина футера (форма підписки) */
.footer-right {
        margin-left: 80px;
}

@media screen and (max-width: 320px) {
        .footer-right {
                margin: 0;
                width: 100%;
                max-width: 320px;
                text-align: center;
                align-items: center;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .footer-right {
                margin: 0;
        }
}

.text-p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.email-footer {
        display: flex;
        align-items: center;
        gap: 24px;
}

@media screen and (max-width: 320px) {
        .email-footer {
                flex-direction: column;
                max-width: 288px;
                gap: 16px;
        }
}

.form-input-footer {
        border: 1px solid #ffffff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        font-weight: 400;
        font-size: 12px;
        background-color: transparent;
        padding-left: 16px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
}

@media screen and (max-width: 320px) {
        .form-input-footer {
                width: 288px;
        }
}

.icon-footer {
        margin-left: 16px;
        fill: #fff;
}

.form-input-footer::placeholder {
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

.btn-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background: #4d5ae5;
        cursor: pointer;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        text-align: center;
}


/* Модал оверлей */
.modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

/* Модальне вікно */
.modal {
        position: absolute;
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

@media (max-width: 320px) {
.modal {
        position: fixed;
        width: 100%;
        max-width: 288px;
        min-height: auto;
        padding: 40px 16px 24px 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
} 
}

/* Закрити модальне вікно */
.modal-close {
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 320px) {
.modal-close {
                top: 16px;
                right: 16px;
                width: 24px;
                height: 24px;
        }
}

.modal-close:hover {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
}


.modal-close:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
}

.button-svg {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* Заголовок */
.modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 16px;
        margin-top: 72px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
        .modal-title {
        margin-top: 0;
        }
}

.div-bezparagrafa {
        margin-bottom: 8px;

}

/* Лейбли */
.modal-label {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.div-input-icon {
        position: relative;

}

/* Поля введення */
.input-wrapper {
        margin-bottom: 8px;


}


.modal-input {
        width: 100%;
        height: 40px;
        padding-left: 38px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus {
        border-color: #4D5AE5;
}

.modal-input:focus+.input-icon {
        fill: #4d5ae5;
}

.input-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
        fill: #4D5AE5;

}

.modal-input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

/* Текстове поле */
.div-comment {
        margin-bottom: 16px;
}

.modal-textarea {
        width: 100%;
        height: 120px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        padding: 8px 16px;
        outline: none;
        resize: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;

        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
        border-color: #4D5AE5;
}

.modal-textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

/* Чекбокс */
.checkbox-wrapper {
        margin-bottom: 24px;
}

.visually-hidden {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        cursor: pointer;
}

.modal-checkbox-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        align-items: center;

}

.label-span {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-item {





        display: inline-flex;


}

.input-check:checked+.modal-checkbox-label .label-span {
        background-color: #404bbf;
        border: none;
        fill: #f4f4fd;
}


.modal-checkbox-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        align-items: center;
}

.modal-check-text a {
        text-decoration: underline;
}

.privacy-policy {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

/* Кнопка */
.modal-button {
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        background: #4d5ae5;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 16px 32px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-button:hover {
        background: #404bbf;
}

.modal-button:focus {
        background: #404bbf;
}

.mobile-menu {
        display: none;
}